<div class="container">
  <div class="panel panel-default">

    <div class="panel-body">
      <h2>KWB Grasheide</h2>
      <p>We zijn opgericht in 1953 en we zijn dus dit jaar reeds 64 jaar jong en wij zien nog een
        mooie toekomst voor onze vereniging.</p>
      <p>We proberen via ons programma voor iedereen iets te bieden : jong en oud en voor het
        gans gezin. Samen sporten en ontspannen staat hoog in ons vaandel maar ook activiteiten
        waar men iets kan bijleren of opsteken staan op het programma. Meer informatie vindt je
        elders op deze site.</p>
      <p>Op Grasheide zijn wij één van de grote verenigingen en ongeveer 200 huisgezinnen zijn lid
        van onze kwb. We werken voor een aantal activiteiten samen met andere verenigingen van
        Grasheide (oa met kvlv, de school, chiro) en ondersteunen mee de parochiale activiteiten (oa
        deelname aan de dorpsraad en de Jan Gasfeesten). De volleybalploegen op Grasheide zijn een
        onderafdeling van onze kwb. Grote kwb- activiteiten die op Grasheide gekend zijn en waar de
        mensen van Grasheide naartoe komen: het mosselfeest, het sinterklaasfeest, de kwisavond, de
        volksloop, kwb beweegt.</p>
      <p>Op gemeentelijk vlak zijn wij actief lid van de Putse cultuurraad en Putse sportraad.</p>
      <p>De meeste van onze activiteiten gaan door in het PMO van Grasheide (parochiezaal,
        Kerkhoflei
        3)</p>
    </div>
  </div>
</div>
