<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Eigen raakske</h2>
      <p>Jaarlijks wordt er een tijdschriftje uitgegeven met verslagen en leuke extra'tjes over al
        onze activiteiten! Je kan deze in een papier of digitaal formaat krijgen. De digitale versie
        kan je downloaden door op de gewenste uitgave te klikken hieronder!</p>
      <p>
        <a href="https://www.dropbox.com/s/opnh350qpqvqpn8/Raakske_2013.pdf?dl=1">Raakske 2013</a><br>
        <a href="https://www.dropbox.com/s/fu49qgpp6dgmbyt/Raakske_2014.pdf?dl=1">Raakske 2014</a><br>
        <a href="https://www.dropbox.com/s/mgy11py03ejwiuj/Raakske_2015.pdf?dl=1">Raakske 2015</a><br>
        <a href="https://dl.dropboxusercontent.com/u/12526823/KwB/Raakskes/Raakske_2016.pdf?dl=1">Raakske 2016</a><br>
      </p>
    </div>
  </div>
</div>
