<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Jouw lidmaatschap is geld waard!</h2>
      <p>KWB Grasheide is een sociaal-culturele vereniging die een activiteitenkalender heeft om
        huisgezinnen van Grasheide en nabije omgeving ontspanning te bieden. We hebben ongeveer 200
        huisgezinnen als lid en we zijn al 63 jaar actief. Wij maken deel uit van kwb nationaal die
        de kaart van het gezin getrokken heeft en politiek ongebonden is.</p>
      <p>We organiseren een waaier van activiteiten : ontspanning, gezamenlijk sporten, activiteiten
        waar je wijzer van wordt. Aan de voorzijde vindt je een beknopt overzicht van ons
        jaarprogramma 2016-2017. Over onze kwb-activiteiten krijg je maandelijks berichten en
        uitnodigingen en je vindt ze ook terug op onze website. www.kwbgrasheide.be .</p>
      <p>Als lid krijg je maandelijks het nationale kwb-ledenblad “Raak” via de post. In januari
        krijg je ons eigen “Raakske” met verslagen en foto’s van de activiteiten van KWB Grasheide
        van het voorbije jaar.</p>
      <p>Daarnaast is je kwb-lidkaart ook geld waard.Als er betalende activiteiten zijn, krijg je
        als lid natuurlijk korting. Maar je kan ook kortingen krijgen op bepaalde reizen, weekends,
        pretparken en materiaal. Meer informatie hierover vind je in de raken en op www.kwb.be.
        Daarenboven geldt je lidkaart voor heel het gezin : man, vrouw en inwonende kinderen. Dat
        allemaal voor slechts 1 prijs : 25€ voor een gans jaar. En natuurlijk ben je verzekerd
        tijdens al onze activiteiten.</p>
      <p>Wil je zelf iets organiseren of je hebt een idee? Laat het ons weten! De bestuursploeg wil
        het graag bespreken en steunen zodat die activiteit een succes wordt. Een helpende hand bij
        de activiteiten is steeds welkom : de bestuursleden alleen krijgen alles niet rond in eigen
        beheer. Hierbij vindt je een lijst met de kwb-wijkmeesters die het allemaal in goede banen
        trachten te leiden.</p>
      <p>Hoe meer zielen, hoe meer vreugd.We durven vragen om mee te helpen aan het vergroten van
        onze kwb-familie. Breng gerust uw familie, geburen, vrienden en kennissen mee naar onze
        activiteiten. Het eerste jaar lidmaatschap van onze kwb is aan verminderde prijs.</p>
      <p>Alvast welkom bij onze KWB!</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Hoe wordt ik lid?</h2>
      <p>Je stuurt je gegevens door via het contactadres of aan één van de bestuursleden : naam +
        adres + leeftijd + als het kan : telefoon + mailadres Een van onze wijkmeesters gaat je
        contacteren en zorgt voor je lidkaart en voor meer informatie Normale prijs van het lidgeld
        : 25€ per jaar, voor nieuwe leden = eerste jaar aan halve prijs: 12.50€</p>
    </div>
  </div>
</div>
