<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Waar staan we voor?</h2>
      <p>Kwb betekent : Kristelijke Werknemers Beweging. In de loop der jaren zijn actiepunten
        vanuit de centrale wel wat veranderd en een aantal jaren geleden heeft Kwb de kaart van het
        gezin getrokken en willen ze uitgroeien tot een gezinsbeweging. Meer info op
        <a href="http://www.kwb.be" target="_blank">www.kwb.be</a></p>
      <p>Kwb is een socio-culturele vereniging die in deze tijd van stress aan de mensen een
        mogelijkheid wil bieden om zich op een relatief goedkope manier te ontspannen en vrienden te
        maken op een plezante manier. Elke afdeling probeert dat op haar manier te doen.</p>
      <p>Kwb wil ook via hun tijdschriften en de activiteiten van de plaatselijke afdelingen
        bepaalde
        acties en problemen in het daglicht stellen.</p>
    </div>
  </div>
</div>
