<div class="container" *ngIf="!eventLoading">
    <div class="panel panel-default" *ngIf="!event">
        <div class="panel-heading">
            <div class="col-xs-4"><h2 class="panel-title">Activiteit niet gevonden :(</h2></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">Het lijkt erop dat de activiteit is verdwenen, of heb je
            misschien een foute link gekregen?</div>
    </div>
    <div *ngIf="event">
        <h2>{{event.title}}</h2>

        <div class="panel panel-default">
            <div class="panel-body" markdown [data]="event.description"></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="startsOn">Start:</label>
                        <p id="startsOn"
                           class="form-control-static col-sm-11">{{convertSecondsToDate(
                            event.start.seconds)}}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="endsOn">Einde:</label>
                        <p id="endsOn"
                           class="form-control-static col-sm-11">{{convertSecondsToDate(
                            event.end.seconds)}}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-1" for="location">Locatie:</label>
                        <p id="location"
                           class="form-control-static col-sm-11">{{event.location}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="eventLoading">
    <div class="panel panel-default">
        <div class="panel-body">Loading ...</div>
    </div>
</div>
