<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Jaarprogramma in't kort</h3>
      <h4>September 2016</h4>
      <ul>
        <li>Vrijdag 9 : Start kaartspel</li>
        <li>Vrijdag 23 : Start kookavonden voor mannen</li>
        <li>Vrijdag 30 : Startavond</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Oktober 2016</h4>
      <ul>
        <li>Zaterdag 15 : Mosselfeest</li>
        <li>Zaterdag 22 : Dagwandeling Nederland</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>
      <h4>November 2016</h4>
      <ul>
        <li>Zaterdag 5: KWB Feest</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>December 2016</h4>
      <ul>
        <li>Zondag 4: Sinterklaasfeest</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Januari 2017</h4>
      <ul>
        <li>Vrijdag 26: Quiz</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Februari 2017</h4>
      <ul>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Maart 2017</h4>
      <ul>
        <li>Zondag 5: Start fietsseizoen en Volksloop Grasheide</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>April 2017</h4>
      <ul>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Mei 2017</h4>
      <ul>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Juni 2017</h4>
      <ul>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Juli 2017</h4>
      <ul>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>

      <h4>Augustus 2017</h4>
      <ul>
        <li>Zaterdag 19: Kamperen in eigen straat</li>
        <li>Zondag 27: Geshaaling</li>
        <li>Doorlopend:
          <ul>
            <li>Joggen op dinsdagavond om 20h aan de parochiezaal, onder begeleiding</li>
            <li>Volleybal heren- en damesploeg</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Activiteiten in voorbereiding</h3>
      <ul>
        <li>Tap rommelmarkt Putte</li>
        <li>Comedy Night (22/04/2017)</li>
        <li>Tappen op repertieties fanfare Grasheide</li>
        <li>Winterbarbecue</li>
        <li>Lego dag</li>
        <li>Kroegentocht</li>
        <li>Wandelingen op Zondag</li>
        <li>Dagwandelingen</li>
        <li>Reeks Bowling</li>
        <li>Reeks loop je fit</li>
        <li>Gezinsfietstocht</li>
        <li>info-avonden</li>
        <li>Deelname aan activiteiten van de parchie, andere verenigingen, gemeentelijke
          initialieven
        </li>
        <li>EN JULLIE VOORSTELLEN</li>
      </ul>
    </div>
  </div>
</div>
