<div class="container">

  <div class="panel panel-default" *ngIf="(events | async)?.length === 0">
    <div class="panel-heading">
      <div class="panel-title">Geen activiteiten!</div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      Er zijn voorlopig geen activiteiten meer gepland!
    </div>
  </div>

  <div class="panel panel-default" *ngFor="let event of events | async">
    <div class="panel-heading">
      <div class="col-xs-4"><h2 class="panel-title">{{event.title}}</h2></div>
      <div class="col-xs-4 text-center">{{convertSecondsToDate(event.start.seconds)}}</div>
      <div
        class="col-xs-4 pull-right text-right"><a href="#/activiteit/{{event.id}}">Details</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" markdown [data]="event.description">
    </div>
  </div>
</div>
