<div class="container">
    <div class="panel panel-default" *ngIf="(posts | async)?.length === 0">
        <div class="panel-heading">
            <div class="panel-title">Geen Nieuws!</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            Er zijn voorlopig nog geen blog posts!
        </div>
    </div>

    <div class="panel panel-default" *ngFor="let post of posts | async">
        <div class="panel-heading">
            <div class="col-xs-4"><h2 class="panel-title">{{post.title}}</h2></div>
            <div class="col-xs-4 text-center">{{convertSecondsToDate(post.timestamp.seconds)}}</div>
            <div class="col-xs-4 pull-right text-right"><a href="#//blog/{{post.id}}">Lees meer</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" markdown [data]="post.body">
        </div>
    </div>
</div>
