<div class="container">
  <carousel>
    <slide>
      <img src="assets/images/slider/slider1.jpg" alt="First slide">
    </slide>
    <slide>
      <img src="assets/images/slider/slider2.jpg" alt="Second slide">
    </slide>
    <slide>
      <img src="assets/images/slider/slider3.jpg" alt="Third slide">
    </slide>
    <slide>
      <img src="assets/images/slider/slider4.jpg" alt="Third slide">
    </slide>
    <slide>
      <img src="assets/images/slider/slider5.jpg" alt="Third slide">
    </slide>
  </carousel>
</div>
<p></p>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <strong>Welkom</strong>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      Welkom onze nieuwe kwb website. In de huidige tijd van moderne communicatie vonden we het tijd
      om ook via deze weg onze werking en activiteiten bekend te maken. Hopelijk kan je vinden wat
      je
      zoekt en als dat niet zo mocht zijn, laat het ons maar weten. Alvast bedankt voor het bezoek
      aan
      onze site.
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default" *ngIf="eventLoading">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        <strong>Volgende activiteit</strong>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      Loading...
    </div>
  </div>

  <div class="panel panel-default" *ngIf="!eventLoading">
    <div class="panel-heading">
      <div class="panel-title pull-left">
        <strong>Volgende activiteit:</strong> {{ nextEvent.title }}
      </div>
      <div class="panel-title pull-right"><a href="#/activiteit/{{ nextEvent.id }}">Details</a></div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" Markdown>
      {{ nextEvent.description }}
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default" *ngIf="postLoading">
    <div class="panel-heading">
      <div class="panel-title pull-left"><strong>Laatste Nieuws</strong></div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      Loading...
    </div>
  </div>

  <div class="panel panel-default" *ngIf="!postLoading">
    <div class="panel-heading">
      <div class="panel-title pull-left"><strong>Laatste Nieuws</strong>: {{latestPost.title}}</div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body" Markdown>
      {{latestPost.body}}
    </div>
  </div>
</div>
